<h1 class="text-danger">Sorry, you do not have access to view this page.  Please contact your club leadership if this is an error.</h1>
@Html.ActionLink("Go back to the homepage", "Index","Home", null, null)

