@{
    ViewBag.Title = "Club Portal Home";
}
<h2>Hello!</h2>

<p>Welcome to the Club Portal</p>
<html>
<body>
    <div class="club_header">
        <img src="http://www.anderson.ucla.edu/lib/email/image/ucla-anderson-lockup-logo.jpg" style="position:center" />
    </div>
</body>
</html>

<iframe src="https://calendar.google.com/calendar/embed?src=c4c.ucla%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="500" height="500" frameborder="0" scrolling="yes"></iframe>
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Club List","Index","Clubs")
        <br />
        @Html.ActionLink("My Clubs", "Index", "ClubMemberships")
        <br />
        @Html.ActionLink("Edit a club", "Edit", "Clubs", new { Id=1 }, null)
        <br />
        @Html.ActionLink("Send an email", "Create", "Emails")
</div>