@{ 
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/fullcalendar")
@Scripts.Render("~/Scripts/Site.js")

<div class="row">
    <div id='calendar' class="fc fc-unthemed fc-ltr">Calendar Should Be Here</div>
</div>