body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image: url(../Content/Images/grey-linen-background.jpg)*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    padding-left:2em;
}

.jumbotron {
    margin-top: 20px;
    color: azure;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.scriptfont {
    font-family: 'Dancing Script', cursive;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #225378;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2a2c2b;
}

.button:hover {background-color: #1695a3}

.button:active {
  background-color: #1695a3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.tab-content {
  margin: 10px;
}

.tab-content .clubs-h3, .tab-content .events-h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.tab-content .clubs-li img{
  float: left;
  margin: 0 15px 0 0;
}

.tab-content .events-li img{
    float: right;
    margin: 0 15px 0 0;
}

.tab-content .clubs-li p, .tab-content .events-li p{
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.clubs-li, .events-li{
  padding: 10px;
  overflow: auto;
}

.clubs-li:hover, .events-li:hover{
  background: #eee;
  cursor: pointer;
}

/* Form css*/
#event-create-form{
    background-color: #efefef;
    max-width: 700px;
    margin: 10px auto 10px;
    padding: 40px;
    color: #858b8e;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
}

#event-create-form .btn{
    width: 26%;
    margin: 20px auto 0;
    display:inline-block;
    outline: none;
}


}


